@import "./typography.less";

.section-three{
  width: 1024px;
  height: 768px;
  background-image: url('../img/third_background.png');
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 auto;
  margin-top: -1px;
  padding: 0;
  color: #fff;
  font-family: gotham;
  transition: background-position 0.5s ;

}

